/* This is an empty style sheet in CSS */
body {
    background-color: #2b2b2b;
    color: white;
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
}

.bar {
    fill: #66ff66;
}

.padding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    text-align: center;
}

.titleCard {
    
}

.usersName {
    margin: 0;
}

.logSleep {
    margin-left: auto;
}

.sleepForm {
    margin: 10px 0px;
}

.forms {
    display: flex;
    align-items: center;
}

.form {
    background-color: #575757;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5px;
}

.entry {
    background-color: #575757;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5px;
}

/* This is chatGPT generated, used it to make the form look nicer */
.gradient-container {
    width: 80vw;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, #004d00, #66ff66);
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postedEntries {
    
}

